@model List<POApproval.Models.procSelectBuyer_Result>
@{
    ViewBag.Title = "Buyer List";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<section class="col-md-12 text-right">
    <div class="">
        <a href="http://localhost:61646/Buyer/AddBuyer" class="btn btn-success">Create New</a>

    </div>
</section>
<section class="col-md-12">
    <div>
        <div class="divList">
            <div class="centerLoader" data-loading> </div>

            <div class="table-common">

                <table class="table table-hover table-responsive" id="myTable">
                    <thead>
                        <tr>

                            <th>Action</th>
                            <th>Buyer Code</th>
                            <th>Buyer Name</th>

                            <th>Status</th>
                         

                        </tr>
                    </thead>
                    <tbody class="tbody">
                        @foreach (var item in Model)
                        {


                        <tr>

                            <td>
                                <a href="http://localhost:61646/Buyer/UpdateBuyer?ID=@item.BuyeCode" value="Update" HR>Update</a>
                                @*<input type="button"  value="Delete" ng-click="DeleteEmp(Emp)" />*@
                            </td>
                            <td>
                                @item.BuyeCode
                            </td>
                            <td>
                                @item.BuyerName
                            </td>

                            <td>
                                @item.Status
                            </td>
                           

                        </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>

