@model List<POApproval.Models.procSelectManageApproval_Result>
@{
    ViewBag.Title = "Manage Approval List";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<section class="col-md-12 text-right">
    <div class="">
        <a href="http://localhost:61646/ManageApproval/AddManageApproval" class="btn btn-success">Create New</a>

    </div>
</section>
<section class="col-md-12">
    <div ng-app="myManageApprovalApp">
        <div ng-controller="manageApprovalCtrl" class="divList">
            <div class="centerLoader" data-loading> </div>
            <div class="table-common">

                <table class="table table-hover table-responsive" id="otherTable">
                    <thead>
                        <tr>

                            <th>Action</th>
                            <th>UserCode</th>
                            <th>Department</th>
                            <th>Approval Name</th>
                            <th>Approval Level</th>
                            <th>Approval Amount</th>
                            <th>Status</th>


                        </tr>
                    </thead>
                    <tbody class="tbody">
                        @foreach (var item in Model)
                        {




                            <tr>
                                <td>
                                    <a href="http://localhost:61646/ManageApproval/UpdateManageApproval?ID=@item.intManageApprovalCode" class="btn btn-default" value="Update" HR>Update</a>
                                    <a href="http://localhost:61646/ManageApproval/Delete_ManageApproval?ID=@item.intManageApprovalCode" onclick = "if (! confirm('Are you sure you want to delete this?')) { return false; }" class="btn btn-danger" value="Delete" HR>Delete</a>

                                    @*<input type="button" value="Delete" class="btn btn-danger" ng-click="DeleteApproval(@item.intManageApprovalCode)" />*@
                                </td>
                                <td>
                                    @item.UserCode.ToString().PadLeft(5, '0')
                                </td>
                                <td>
                                    @item.Department
                                </td>
                                <td>
                                    @item.ApprovalName
                                </td>
                                <td>
                                    @item.ApprovalLevel
                                </td>
                                <td>
                                    @item.ApprovalAmount
                                </td>
                                <td>
                                    @item.Status
                                </td>

                            </tr>
                        }



                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>

