@{
    ViewBag.Title = "Manage Buyer";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<section class="col-md-6">
    <div ng-app="myBuyerManagerApp">
        <div ng-controller="BuyerManagerCtrl" class="divList">
            <div class="centerLoader" data-loading> </div>
            <div class=" container">
                <div class="row">
                    <form name="myform">
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Staff ID</label>
                                <div class="col-sm-10">
                                    <select title="Select" class="form-control select-searchable" ng-model="intUserCode" ng-required="true" searchable="Search here..">
                                        <option value="">--Please select User--</option>
                                        @foreach (var item in ViewBag.userList)
                                        {
                                            if (Model != null)
                                            {
                                        <option value="@item.Value" @(Model.Code == @item.Value ? "selected" : "")>
                                            @item.Value -- @item.Text
                                        </option>
                                            }
                                            else
                                            {

                                    <option value="@item.Value">
                                        @item.Value -- @item.Text
                                    </option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            @*<div class="form-group row">
                    <label class="col-sm-2 col-form-label">Department</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control">
                    </div>
                </div>*@
                            @*<div class="form-group row">
                    <label class="col-sm-2 col-form-label">Approver Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control">
                    </div>
                </div>*@
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Buyer</label>
                                <div class="col-sm-10">
                                    <select title="Select" class="form-control select-searchable" ng-model="intBuyerCode" ng-required="true">
                                        <option value="">--Please select Buyer--</option>
                                        @foreach (var item in ViewBag.buyerList)
                                        {
                                            if (Model != null)
                                            {
                                                <option value="@item.Value" @(Model.Code == @item.Value ? "selected" : "")>
                                                    @item.Value -- @item.Text
                                                </option>
                                            }
                                            else
                                            {

                                                <option value="@item.Value">
                                                    @item.Value -- @item.Text
                                                </option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                       
 <div class="form-group row">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <div class="form-group error">

                                        <div id="UserErrorMessage"></div>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <button ng-click="myform.$valid && InsertData()" id="btnSave" value="Submit" class="btn btn-success">Save</button>
                                </div>
                            </div>





                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
