@model List<POApproval.Models.procSelectBuyerManager_Result>
@{
    ViewBag.Title = "Manage Buyer List";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
@ViewBag.geterror
<section class="col-md-12 text-right">
    <div id="buttonright">  <a href="http://localhost:61646/BuyerManager/AddBuyerManager" class="btn btn-success">Create New</a> </div>

</section>

<section class="col-md-12">
    <div ng-app="myBuyerManagerApp">
        <div class="divList" ng-controller="BuyerManagerCtrl">
            <div class="centerLoader" data-loading> </div>
            <div class="table-common">

                <table class="table table-hover table-responsive" id="otherTable">
                    <thead>
                        <tr>

                            <th>Action</th>
                            @*<th>Code</th>*@
                            <th>
                                Full Name
                            </th>
                            <th>Buyer</th>



                        </tr>
                    </thead>
                    <tbody class="tbody">
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    <a href="http://localhost:61646/BuyerManager/UpdateBuyerManager?ID=@item.intBuyerDetailCode" class="btn btn-default" value="Update" HR>Update</a>
                                    <a onclick="if (! confirm('Are you sure you want to delete this?')) { return false; }" href="http://localhost:61646/BuyerManager/Delete_BuyerManager?ID=@item.intBuyerDetailCode" class="btn btn-danger" value="Update" HR>Delete</a>


                                </td>
                                @*<td>
                            @item.intBuyerDetailCode
                        </td>*@
                                <td>
                                    @item.intUserCode -- @item.logon_user_id
                                </td>
                                <td>
                                    @item.intBuyerCode -- @item.strBuyerName
                                </td>


                            </tr>
                        }



                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>

