@model POApproval.ViewModel.userDataViewModel
@{
    ViewBag.Title = "Add User";
}
<style>
    .select2-results__option[aria-selected=true] {
        display: none;
    }
</style>
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<section class="col-md-6">
    <div ng-app="myApp">
        <div ng-controller="myCtrl" class="divList">
            <div class="centerLoader" data-loading> </div>
            <div class=" container">
                <div class="row">
                    <form name="myform">

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Username (Staff ID)</label>
                            <div class="col-sm-10">
                                <select title="Select" class="form-control select-searchable" ng-model="usercode" ng-required="true" id="user" ng-change="getdetails($element.target)">
                                    <option></option>
                                    @foreach (var item in Model.getUserLists)
                                    {
                                <option  value="@item.UserCode">
                                    @item.UserCode -- @item.Username 
                                </option>

                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" ng-model="pwd" ng-required="true" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Full Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control fullname" readonly ng-model="fullname">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Xpert User Login</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control xpertLoginID" ng-model="xpertLoginID" pattern="^\S+$" required >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control email" readonly ng-model="email" ng-value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Department</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control usergroup" readonly ng-model="usergroup" ng-value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">User Access</label>
                            <div class="col-sm-10" id="membersToNotify">

                                @{
                                    int _recordCount = 1;
                                    foreach (var item in Model.GetAccessLevels)
                                    {
                                        <div class="checkbox">
                                            <label><input type="checkbox" ng-model="menuCode@_recordCount"  data-id="0:@item.menuCode" value="0" id="option-@_recordCount" ng-checked="SuperAdmin">@item.strMenuName</label>
                                        </div>
                                        _recordCount = _recordCount + 1;
                                    }
                                }
                                @*<div class="checkbox">
            <label><input type="checkbox" ng-model="bolIsApprovalLimit" value="0" id="option-1" >Approval Limit</label>
        </div>*@
                                @*<div class="checkbox">
                                    <label><input type="checkbox" ng-model="bolIsNewUser" value="0" id="option-2">Manage User</label>
                                </div>*@
                                @*<div class="checkbox">
            <label><input type="checkbox" ng-model="bolIsNewBuyer" value="0" id="option-3" required>New Buyer</label>
        </div>*@
                                @*<div class="checkbox">
            <label><input type="checkbox" ng-model="bolIsManageBuyer" value="0" id="option-3" >Manage Buyer</label>
        </div>*@
                                <div class="checkbox">
                                    <label><input type="checkbox" ng-model="SuperAdmin" value="0:0" id="option-@_recordCount"> Super Admin</label>
                                </div>
                            </div>
                        </div>
                        @*<div class="form-group row">
                            <label class="col-sm-2 col-form-label">Status</label>
                            <div class="col-sm-10">
                                <div class="checkbox">
                                    <label><input type="checkbox" ng-model="status" value="0" ng-required="true">Active</label>
                                </div>
                            </div>
                        </div>*@
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <a href="http://localhost:61646/User/UserList" class="btn btn-primary">Back</a>
                                <button ng-click="myform.$valid && InsertData()" id="btnSave" value="Submit" class="btn btn-success">Save</button>
                            </div>
                        </div>
                    </form>
                        
                </div>
            </div>
        </div>
    </div>
</section>

