@model List<POApproval.Models.procSelectUser_Result>
@{
    ViewBag.Title = "User List";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<section class="col-md-12 text-right">
    <div class="">
        <a href="http://10.3.1.110/poapproval/User/AddUser" class="btn btn-success">Create New</a>

    </div>
</section>
<section class="col-md-12">
    <div ng-app="myApp">
        <div ng-controller="myCtrl" class="divList">
            <div class="centerLoader" data-loading> </div>

            <div class="table-common">

                <table class="table table-hover table-responsive" id="myTable">
                    <thead>
                        <tr>

                            <th>Action</th>
                            <th>User Code</th>
                            <th>User Name</th>
                            <th>User Email</th>
                            <th>Department</th>
                            <th>Status</th>


                        </tr>
                    </thead>
                    <tbody class="tbody">
                        @foreach (var item in Model)
                        {


                        <tr >

                            <td>
                                <a href="http://10.3.1.110/poapproval/User/UpdateUser?ID=@item.UserCode" value="Update" class="btn btn-default">Update</a>
                               
                                <input type="button" value="Delete" class="btn btn-danger" ng-click='DeleteUser("@item.UserCode")' />
                            </td>
                            <td>
                               @item.UserCode
                            </td>
                            <td>
                                @item.Username
                            </td>
                            <td>
                                @item.Email
                            </td>
                            <td>
                                @item.Department
                            </td>
                            <td>
                                @item.Status
                            </td>

                        </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>

